launch.application$Boolean=false
rmiPort$Long={{ confluence_server_port }}
app.confHome={{ confluence_home_dir }}
app.install.service$Boolean=true
# existingInstallationDir={{ confluence_installation_dir }}
sys.confirmedUpdateInstallationString=false
sys.languageId=en
sys.installationDir={{ confluence_installation_dir }}
executeLauncherAction$Boolean=false
httpPort$Long={{ confluence_connector_port }}
portChoice=default